body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-color: #000;
  margin: 0;
}

a {
  color: #212121;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #101010;
}

#menu {
  top: 0;
  right: 0;
  left: 0;
  background: -webkit-linear-gradient(#333, #111);
  background: -moz-linear-gradient(#333, #111);
  margin: 0 auto;
}

#menu a {
  color: #D8D8D8;
}

#menu a:hover {
  color: #E9E9E9;
}

.menu-item {
  line-height: 1.5;
}

#content {
  margin: 10px 0 0 0;
}

div#footer {
  margin: 45px 0 0 0;
  overflow: hidden;
  clear: both;
}

div#footer ul {
  float: left;
  display: block;
  overflow: hidden;
}

div#footer ul li {
  float: left;
  display: block;
  overflow: hidden;
}
div#footer ul li a {
  display: block;
  overflow: hidden;
  width: 40px;
  height: 40px;
}

div#footer ul li.twitter {
  background-image: url('../images/twitter.png');
}

div#footer ul li.github {
  background-image: url('../images/github.png');
}
div#footer ul li.linkedin {
  background-image: url('../images/linkedin.png');
}

.profile-pic {
  text-align: center;
}


